# Ignore directories
/Bin
/ipch
/Debug
/Release
/CanonCameraApp/Debug
/CanonCameraApp/Release
/CanonFilter/Debug
/CanonFilter/Release
/CanonFilter/ipch
/Filters

# Ignore file type
*.vcxproj.user
*.jpg
*.suo

# Ignore file type at root
/*.sdf
/*.opensdf
